# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Custom
*.log
*/Debug/*
*/Release/*
.vs/*
Debug/*
*.sln
*.user
*.vcxproj
*.filters
x64/*
